$fontsize: 12px;
$fontWeight: 400;
$colorText: #4A4A4A;
$colorWhite: #ffffff;

* {
    padding: 0;
    margin: 0;
    border: 0;
}
*,*:before,*:after {
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}
:focus, :active {outline: none;}
a:focus, a:active {outline: none;}
header, main, footer, section, nav, div, aside {display: block;}
html, body {
    width: 100%;
    height: 100%;
    font-size: 100%;
    line-height: 1;
    font-size: 14px;
    -ms-text-size-adjust: 100%;
    -moz-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
}
input, button, textarea, select {font-family: inherit;}
input::-ms-clear {display: none;}
button {cursor: pointer;}
button::-moz-focus-inner {padding: 0; border: 0;}
a, a:visited {text-decoration: none;}
a:hover {text-decoration: none;}
ul, li {list-style: none;}

body {
	font-family: 'Open Sans', sans-serif;
    font-weight: $fontWeight;
    font-size: $fontsize;
	line-height: 20px;
	background: #F3F7FA;
	color: $colorText;
}

.main {
    max-width: 960px;
    margin:  0 auto;
}

.main__logo {
    max-width: 60px;
    margin:  50px auto 40px;
}

.main__logo img {
    width: 150%;
}

.main_container {
    max-width: 755px;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-areas:
        "panel nav"
        "panel tickets";
    grid-gap: 0 20px;
    margin: 0 auto;
}

@media (max-width: 767px) {
    .main_container {
        grid-template-columns: 100%;
        grid-template-areas:
            "nav"
            "panel"
            "tickets";
        grid-gap: 20px;
    }
}

.main__panel {
    grid-area: panel;
}

.main__nav {
    grid-area: nav;
}

.main__tickets {
    grid-area: tickets;
}